@font-face{
    font-family: "Georgia";
    src: url("../fonts/Georgia_regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face{
    font-family: "Palatino Linotype";
    src: url("../fonts/Palatino_Linotype.ttf") format("truetype");
    font-weight: 400;
}
@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: Georgia;
    font-weight: 400;
}
.container_header{
    margin: 0 auto;
    width: 1160px;
}
.container{
    margin: 0 auto;
    width: 770px;
}
/* header */
.header{
    background-color: white;
    position: sticky;
    top: 0;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav{
    margin: 20px 0;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #353732;
    margin-left: 30px;
}
.header_nav:hover{
    text-decoration: underline;
}
.header_logo{
    margin: 20px 0;
}
/* main */
.main_wrapper{
    margin: 100px 0;
}
.main_text{
    font-family: 'Palatino Linotype';
    margin-top: 17px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #353732;
}
/* cards */
.cards{
    background: #FAFAFA;
}
.cards_cards{
    display: flex;
    justify-content: space-between;
}
.cards_wrapper{
    padding: 100px 0;
}
.card{
    width: 505px;
    height: 550px;
    background-color: white;
}
.card:hover{
    box-shadow: 0 0 5px #353732;
}
.card_text{
    margin-left: 20px;
}
.card_intro{
    margin-top: 17px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
}
.card_title{
    margin: 10px 0;
    font-family: 'Palatino Linotype';
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #45525B;    
}
.card_subtitle{
    margin-bottom: 65px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
}
.card_data{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    padding-bottom: 30px;
    color: #45525B;
}
.card2{
    margin-bottom: 32px;
    width: 243px;
    height: 256px;
    background-color: white;
}
.card2:hover{
    box-shadow: 0 0 5px #353732;
}
.card2_title{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
    color: #45525B;
}
.card3{
    height: 330px;
    background-color: white;
    width: 374px;
}
.card3:hover{
    box-shadow: 0 0 5px #353732;
}
.card3_title{
    font-family: 'Palatino Linotype';
    font-weight: 400;
    font-size: 17px;
    margin: 10px 0;
    line-height: 24px;
    color: #45525B;
}
.cards_new_cards{
    display: flex;
    justify-content: space-between;
}
.card4{
    margin-top: 16px;
    height: 273px;
    background-color: white;
    width: 243px;
}
.card4:hover{
    box-shadow: 0 0 5px #353732;
}
.card3_intro{
    margin-top: 17px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732
}
.card3_data{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
}
.card3_title{
    margin-top: 6px;
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
/* stay */
.stay_title{
    font-family: 'Palatino Linotype';
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
    color: #353732;
}
.stay_subtitle{
    Font-family: 'Georgia';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #353732;    
}
.stay_wrapper{
    margin: 100px 0;
    display: flex;
    justify-content: center;
}
.stay_name{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #353732;
}
.stay_inputs{
    margin-left: 16px;
}
.stay_btn{
    cursor: pointer;
    background: #353732;
    border-radius: 6px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
    width: 82px;
    height: 38px;
    border: none;
}
.stay_btn:hover{
    box-shadow: 0 0 5px #353732;
}
.input{
    padding-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #353732;
    margin-bottom: 10px;
    background: rgba(82, 80, 59, 0.02);
    border: 1px solid #E5E7EB;
    width: 376px;
    height: 38px;
    border-radius: 8px;
}
/* news */
.news{
    background: #FAFAFA;
}
.news_wrapper{
    padding: 100px 0;
}
.news_photo{
    margin-right: 20px;
    border-radius: 10px;
}
.news_photo:hover{
    box-shadow: 0 0 10px #57de60;
}
.news_block{
    display: flex;
    margin-bottom: 50px;
}
.news_title{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #45525B;
}
.news_title:hover{
    text-decoration: underline;
    color: #bfbfbf;
}
.news_subtitle{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
    margin-top: 7px;
    margin-bottom: 7px;
}
.news_data{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;    
    margin-top: 5px;
}
.news_cont{
    display: flex;
    justify-content: center;
}
.news_arrow{
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #575445;
}
.news_cont:hover{
    text-decoration: underline;
}
/* footer */
.footer_wrapper{
    margin: 100px 0;
}
.footer_text{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.footer_title{
    margin-right: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #353732;
}
.footer_title_a{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
}
.footer_title_a:hover{
    text-decoration: underline;
}
.footer_a{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.footer_a_text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #45525B;
    margin-right: 20px;
}
.footer_a_text:hover{
    text-decoration: underline;
}